        @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
        box-sizing: border-box;
        margin: 0;
    }
    html,
    body margin: 0;
    background: black;
    font-family: 'Montserrat',
    helvetica,
    arial,
    sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.movie_card {
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 100px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    &:hov er {
        transform: scale(1.02);
        transition: all 0.4s;
    }
    .info_secti on {
        position: relative;
        width: 100%;
        height: 100%;
        background-blend-mode: multiply;
        z-index: 2;
        border-radius: 10px;
        .movie_he ader {
            position: relative;
            padding: 25px;
            height: 40%;
            h1 {
                color: #fff;
                font-weight: 400;
            }
            h4 {
                color: #9ac7fa;
                font-weight: 400;
            }
            .m inutes {
                display: inline-block;
                margin-top: 10px;
                color: #fff;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid r gba( 255, 255, 255, 0.13);
            }
            .type {
                display: inline-block;
                color: #cee4fd;
                margin-left: 10px;
            }
            .loc andina {
                position: relative;
                float: left;
                margin-right: 20px;
                height: 120px;
                box-shadow: 0 0 20px -10px r gb a(0, 0, 0, 0.5);
            }
        }
        
        .movie_ desc {
            padding: 25px;
            height: 50%;
            .text {
                color: #cfd6e1;
            }
        }
        
        .movie_so cial {
            height: 10%;
            padding-left: 15px;
            padding-bottom: 20px;
            ul {
                list-style: none;
                padding: 0;
                li {
                    display: inline-block;
                    color: rgb a(25 5, 255, 255, 0.4);
                    transition: color 0.3s;
                    transition-delay: 0.15s;
                    margin: 0 10px;
                    &:hover {
                        transition: color 0.3s;
                        colo r: r gba( 255, 255, 255, 0.8);
                    }
                    i {
                        font-size: 19px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .blur_ba ck {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 1 0 0%;
        right: 0;
        background-size: cover;
        border-radius: 11px;
    }
}
@m edia screen a nd (min-width: 768px) {
    .movie_header {
        width: 60%;
        .movie_de sc {
            width: 50%;
        }
        
        backgro und: linear-gradient(to right,
        #0d0d0c 50%,
        transparent 100%);
    }
    .blur_back {
        back ground-position: -100% 10% !important;
    }
}
@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margi n: 70px auto;
        min-height: 350px;
        height: auto;
    }
    .blur_back {
        width: 100%;
    }
    .movie_header {
        width: 100%;
        margin-top: 85px;
        .movie_desc {
            width: 100%;
        }
        
        .info_section {
            displ ay: inline-grid;
        }
    }
    #bright {
        box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
        &:hover {
            box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
        }
        
        .bright _back {
            background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
        }
        
        #t omb {
            box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
            &:hover {
                box- shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
            }
        }
        
        .tomb _back {
            background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
        }
        
        #a ve {
            box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
            margin-bottom: 200px;
            &:hove r {
                box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
            }
        }
        
        .a ve_back {
            background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
        }