.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 25px auto;
    width: 400px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 2px 2px 20px 5px rgba(1, 1, 1, 0.20), -2px -2px 20px 5px rgba(1, 1, 1, 0.20);
    cursor: pointer;
    transition: 0.4s;
    background-image: linear-gradient(127deg, #55A4DB 0%, #8261ee 91%)
}


/* .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
} */


/* .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
} */

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }
}


/*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

.counter {
    overflow: hidden;
    position: relative;
}

.counter:before {
    content: '';
    position: absolute;
    width: 140%;
    height: 140%;
    opacity: .90;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    top: -20%;
    left: -20%;
}

.counter .content {
    position: relative;
    z-index: 3;
    width: 100%;
}


/* .counter .content .count-item {
    height: 340px;
    position: relative;
    float: left;
    width: 100%;
}

.counter .content .count-item.decoration-bottom {
    position: relative;
} */


/* .counter .content .count-item.decoration-bottom:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 160px;
    left: 70%;
    background: url(../images/circle-dec.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
} */


/* .counter .content .count-item.decoration-top {
    position: relative;
} */


/* .counter .content .count-item.decoration-top:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 140px;
    left: 70%;
    background: url(../images/circle-dec.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
} */


/* .counter .content .count-item:hover strong {
    margin-top: 110px;
}

.counter .content .count-item:hover h1 {
    margin-top: 30px;
} */

.counter .content .count-item h1 {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.25px;
    color: white;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.counter .content .count-item strong {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    */ color: white;
    margin-top: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}


/* .counter .content .count-item span {
    display: block;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.25px;
}  */


/* 
@media (max-width: 991px) {
    .parallax {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: auto;
    }
    .parallax .content {
        position: relative !important;
        top: 0% !important;
        transform: perspective(1px) translateY(0%) !important;
    }
    .counter {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .counter .content {
        position: relative !important;
        top: 0% !important;
        transform: perspective(1px) translateY(0%) !important;
    }
    .counter .content .count-item {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .counter .content .count-item:hover strong {
        margin-top: 0px;
    }
    .counter .content .count-item:before {
        display: none;
    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */    }
    .counter .content .count-item:after {
        display: none;
    }
    .counter .content .count-item strong {
        margin-top: 0px;
    }
} */